<table class="table table-hover">
    <thead class="thead-dark">
        <th scope="col"><p class="font-weight-bold">Name</p></th>
        <th scope="col"><p class="font-weight-bold">Surname</p></th>
        <th scope="col"><p class="font-weight-bold">Created Date</p></th>
        <th scope="col"><p class="font-weight-bold">Updated Date</p></th>
        <th scope="col"><p class="font-weight-bold">Update</p></th>
        <th scope="col"><p class="font-weight-bold">Delete</p></th>
    </thead>
    <tbody>
        <% customers.forEach(customer => { %>
        <tr>
            <td><p class="font-weight-light"><%= customer.name %></p></td>
            <td><p class="font-weight-light"><%= customer.surname %></p></td>
            <td><p class="font-weight-light"><%= customer.created_at %></p></td>
            <td><p class="font-weight-light"><%= customer.updated_at %></p></td>
            <td>
                <form action="/customer/<%= customer.id %>"><button type="submit" class="btn btn-warning">Update</button></form>
            </td>
            <td>
                <form action="/" method="post">
                    <input type="hidden" name="event" value="delete">
                    <input type="hidden" name="id" value="<%= customer.id %>">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        <% } ) %>
    </tbody>
</table>
