<form action="/" method="post" class="row g-3">
    <input type="hidden" name="event" value="<%= id ? 'update' : 'insert' %>">
    <input type="hidden" name="id" value="<%= id %>">
    <div class="col-auto">
        <input class="form-control-plaintext" type="text" placeholder="Name" name="name" <% if(id) { %> value="<%= name %>" <% } %> >
    </div>
    <div class="col-auto">
        <input class="form-control-plaintext" type="text" name="surname" placeholder="Surname" <% if(id) { %> value="<%= surname  %>" <% } %> >
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3"><%= id ? 'Update' : 'Insert' %></button>
      </div>
</form>